html{
    background-color: #fff;
}
.homepage {
    display: flex;
    position: relative;
}

.homepage .clubsearch{
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 100px;
}

.homepage .main{
    position: absolute;
    left: 600px;
}

.homepage .friendsearch{
    position: absolute;
    left: 1100px;
}