html{
    background-color: #fff;
}
.homepage {
    display: flex;
    position: relative;
}

.homepage .clubsearch{
    position: absolute;
    left: 100px;
    bottom: -58px;
}

.homepage .main{
    position: absolute;
    left: 600px;
}